@import "tailwindcss";

@source "..*.{astro,html,js,jsx,ts,tsx}";
@source "../**/*[*].{astro,html,js,jsx,ts,tsx}";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: oklch(55% 0.158 251);
    --color-primary-foreground: oklch(100% 0 0);
}

@layer base {
  *, ::before, ::after {
    @apply border-gray-200 dark:border-gray-700;
  }
}

.scrollable-div::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.scrollable-div {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}