---
import { Prism } from "@astrojs/prism";
import { categories } from "../lib/code";
const { id, name, slug, code, category } = Astro.props;

const componentCategory = categories.find((c) => c.id === id);
---

<div
  class="h-64 p-0 bg-white dark:bg-gray-800 rounded-xl shadow-xs border border-gray-200 dark:border-gray-700 hover:shadow-sm transition-all duration-200 flex flex-col gap-5"
>
  <div class="grow flex items-center justify-center rounded-t-lg overflow-hidden">
    <img src={`/thumbnails/${slug}.png`} alt="" class="object-contain block" />
  </div>
  <a class=" block p-6" href={`/components/${slug}`}>
    <h3 class="font-semibold text-lg mb-1 text-gray-900 dark:text-white">
      {name}
    </h3>
    <p class="text-sm text-gray-600 dark:text-gray-300">
      {componentCategory?.name}
    </p>
  </a>
</div>
